@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Navbar */
header {
  width: 1340px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  padding: 20px 0px 20px 0px;
}
.logo {
  display: flex;
}
.logo-img {
  width: 100%;
}
h3 {
  color: rgb(17, 17, 17);
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
#home {
  color: rgb(254, 163, 1);
}
#about {
  color: rgb(1, 172, 253);
}
#facilities {
  color: rgb(5, 212, 223);
}
#admission {
  color: rgb(93, 88, 239);
}
.contact-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

/* Menu Icon Styling */
.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}
/* Mobile Responsiveness */
@media (max-width: 768px) {
  nav ul,
  header h3,
  header .contact-button {
    display: none; /* Hide the default navigation on mobile */
  }
  .menu-icon {
    display: flex; /* Show the menu icon on mobile */
  }
}
